{% extends 'base.html' %}

{% block content %}
<div class="create-post">
    <h1>Create Post</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}

        {{ form.as_p }}
        
        <input type="submit" value="Post" class="btn btn-secondary">
    </form>
</div>
<style>
    .create-post {
        background-color: white;
        margin-top: 3rem;
        padding: 1rem;
        height: 100vh;
    }
    .create-post h1 {
        font-size: 26px;
        font-weight: bold;
        text-align: left;
    }
    .create-post label,
    .create-post #dynamic_fields p input {
        width: 170px;
        margin-bottom: 0px;
        padding: 5px;
        align-self: center;
        border: 1px solid #191919;
        background-color: white;
    }
    .create-post p {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .create-post label ~ input,
    .create-post label ~ textarea,
    .create-post p select {
        width: max-content;
        border: 1px solid #191919;
        border-left: none;
        border-radius: 0px;
        height: 36px;
    }
    .create-post .btn {
      border: 1px solid #191919;
      border-radius: 0px;
      background-color: white;
      color: #191919;
      transition: .15s ease-in;
    }
    .create-post .btn:hover {
        border-color: #e5e5e5;
        color: #e5e5e5;
        background-color: #191919;
    }
</style>
{% endblock %}