{% extends 'base.html' %}

{% block content %}
<h1>LOGIN</h1>
<form action="/users/login_user" method=POST class="login-form">
    {% csrf_token %}
    <div class="row">
        <div class="col row" style="align-items: center; justify-content: center;">
            <label for="username" class="form-label" >Username</label>
            <input type="text" class="form-control" name="username" aria-describedby="usernameHelper">
        </div>
        <div class="col row" style="align-items: center; justify-content: center;">
            <label for="exampleInputPassword1" class="form-label" >Password</label>
            <input type="password" class="form-control" name="password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-5">Login</button>
</form>
<style>
    .login-form .form-control {
        width: 40%;
        border: 1px solid #191919;
        border-left: none;
        border-radius: 0px;
        height: 36px;
    }
    .login-form .form-label {
        margin-bottom: 0px;
        padding: 5px;
        align-self: center;
        border: 1px solid #191919;
        background-color: white;
    }
    .login-form .btn {
        border: 1px solid #191919;
        color: #191919;
        transition: .15s ease-in;
    }
    .login-form .btn:hover {
        border-color: #e5e5e5;
        color: #e5e5e5;
        background-color: #191919;
    }
</style>
{% endblock %}