{% extends 'base.html' %}

{% block content %}
<h1>REGISTER</h1>
{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <p>There was an error with your form!</p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<form action="{% url 'register_user' %}" method=POST class="register-form">
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="btn btn-secondary">Submit</button>
</form>
<style>
  .register-form .btn {
      border: 1px solid #191919;
      color: #191919;
      transition: .15s ease-in;
  }
  .register-form .btn:hover {
      border-color: #e5e5e5;
      color: #e5e5e5;
      background-color: #191919;
  }
</style>
{% endblock %}