{% extends 'base.html' %}

{% block content %}
  <h1>Posts</h1>
  <ul>
    {% for post in posts %}
      <li>
        <h2><a href="{% url 'view_post' community.id post.id %}">{{ post.title }}</a></h2>
        <p>{{ post.content|slice:":150" }}...</p>
      </li>
    {% empty %}
      <li>No posts available.</li>
    {% endfor %}
  </ul>
  <style>
    .btn {
            border: 1px solid #191919;
            border-radius: 0px;
            background-color: white;
            color: #191919;
            transition: .15s ease-in;
            }
        .btn:hover {
            border-color: #e5e5e5;
            color: #e5e5e5;
            background-color: #191919;
        }
  </style>
{% endblock %}