{% extends 'base.html' %}

{% block content %}
<div class="profile-detail-section">
    {% if user.is_authenticated %}
        <h1>Profile Settings</h1>
        <form action="" method="POST" class="my-4">
            {% csrf_token %}
            {{ form.as_p}}
            <input type="submit" value="Save Changes" class="btn btn-secondary">
        </form>
    {% else %}
        <h1>You are not authorized.</h1>
        <a href="{% url 'login' %}" class="btn">Login</a>
    {% endif %}
</div>
<style>
    .profile-detail-section p {
        display: flex;
        justify-content: center;
    }
    .profile-detail-section p label {
        width: 170px;
        margin-bottom: 0px;
        padding: 5px;
        align-self: center;
        border: 1px solid #191919;
        background-color: white;
    }
    .profile-detail-section p label ~ .form-control {
        width: max-content;
        border: 1px solid #191919;
        border-left: none;
        border-radius: 0px;
        height: 36px;
    }
    .profile-detail-section .btn {
      border: 1px solid #191919;
      border-radius: 0px;
      background-color: white;
      color: #191919;
      transition: .15s ease-in;
    }
    .profile-detail-section .btn:hover {
        border-color: #e5e5e5;
        color: #e5e5e5;
        background-color: #191919;
    }
</style>
{% endblock %}